
/* .hotel-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    background-color: rgb(136, 136, 246);
  } */

  .hotel-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    height: 25rem;
    overflow: hidden;
    background-color: rgb(253, 255, 255);
  }
  
  .hotel-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .hotel-details {
    padding: 15px;
  }
  
  .hotel-name {
    font-size: 1.2rem;
    margin: 10px 0;
    color: rgb(105, 80, 80) ;
  }
  
  .hotel-description {
    font-size: 1rem;
    color: #555;
  }
  
  .hotel-info {
    justify-content: space-between;
  }
  
  .hotel-price {
    font-size: 1.2rem;
  }
  
  .hotel-rating {
    font-size: 1.2rem;
    
  }
  