.dropdown {
    position: relative;
  }
  
  .dropdown-title {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-title:hover {
    background-color: #555;
  }
  
  .dropdown-title i {
    margin-left: 5px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #333;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    width: 150px; /* Adjust width as needed */
  }
  
  .dropdown-menu li {
    border-bottom: 1px solid #555;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #555;
  }
  