
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.navbar-logo {
    height: 35px ;
    width: 30px ;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.navbar-login button {
    padding: 0.5rem 1rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}
