.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B8DBD9;
  color: white;
  padding: 10px 20px;
  
}

.navbar-logo img {
  height: 45px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-title {
  cursor: pointer;
}

.dropdown-title i {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  color: white;
}
